.nav{
    width: 100%;
    height: 70px;
    border-bottom: 1px solid rgb(187, 185, 185);
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: lightcyan;
}
.logo{
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo img{
    width: 60px;
    height: 60px;
    border-radius: 6px;

}
.logo .text{
    font-size: 1.8rem;
    color: cornflowerblue;
    font-weight: bold;
}


ul{
    display: flex;
    gap: 16px;
}
ul li{
    list-style: none;
    font-size: 1.3rem;
    font-family: serif;
    padding: 8px;
    border-radius: 4px;
}
ul li a{
    text-decoration: none;
    color: blue;
}
ul li:hover{
    color: white;
    background: red;
    cursor: pointer;
}


.det{
    display: flex;
    align-items: center;
    gap: 6%;
}
.det .login{
    padding: 8px;
    font-size: 1.3rem;
    background: lightskyblue;
    border-radius: 4px;
    outline: none;
    border: none;
}
.det .login a{
    text-decoration: none;
    color: red;
}
.det .login:hover{
    background: rgb(100, 185, 219);
    cursor: pointer;
}

.cart{
    font-size: 1.3rem;
    color: black;

}
